{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}

    {% endblock %}</title>

    {% block css %}

    {% endblock %}
</head>
<body>
    {% block content %}

        <h3>{{ user.email }}</h3>

            <div>
                <h2>{{ word }}</h2>
                <p>{{ meanings }}</p>
                <p>{{ synonyms }}</p>
                <p>{{ antonyms }}</p>
            </div>


    {% endblock %}
</body>
</html>